In [2]:
import pandas as pd

In [4]:
polls_df = pd.read_csv("polls.csv").set_index("id")
polls_df

           poll option1        option2       option3  vote1  vote2  vote3
id
1   Hello_world       A              B             C      0      0      0
2   Hello_world       A              B             C      1      0      0
3   Hello_world       A              B             C      0      1      0
4   Hello_world       A              B             C      1      0      0
5        aaysuh    kdfj             jf           ire      1      9      5
6           hew     ehw            nen          hbri      1      0      0
7          New1       a              b             c      0      0      1
8     Best Game       a              b             c      0      2      1
9    Best Movie  Batman  Jurassic Park  Interstellar      0      0      1

In [27]:
id='2'
poll = polls_df.loc[int(id)]
poll.values[0]

'Hello_world'